<div class="max-w-5xl mx-auto p-8 font-sans text-slate-900 ">
  <h1 class="text-2xl font-bold mb-6">My Account</h1>

  <!-- Tabs -->

  <div 
    class="inline-flex h-10 items-center justify-center rounded-md bg-muted p-1 text-muted-foreground mb-8">
    <button (click)="activeTab.set('profile')"
    [class.bg-white]="activeTab() === 'profile'"
    [class.text-black]="activeTab() === 'profile'"
    [class.text-muted-foreground]="activeTab() !== 'profile'"
      class="inline-flex items-center justify-center whitespace-nowrap rounded-sm px-3 py-1.5 text-sm font-medium gap-2 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg"
        width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user h-4 w-4">
        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
        <circle cx="12" cy="7" r="4"></circle>
      </svg>
      Profile
    </button>
      <button      
      (click)="activeTab.set('orders')"
      [class.bg-white]="activeTab() === 'orders'"
      [class.text-black]="activeTab() === 'orders'"
      [class.text-muted-foreground]="activeTab() !== 'orders'"
      class="inline-flex items-center justify-center whitespace-nowrap rounded-sm px-3 py-1.5 text-sm font-medium gap-2 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg"
        width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-bag h-4 w-4">
        <path 
          d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4Z">
        </path>
        <path d="M3 6h18"></path>
        <path d="M16 10a4 4 0 0 1-8 0"></path>
      </svg>Orders</button>
    </div>
  <!-- <div class="flex gap-3 mb-6">
    <button
      (click)="activeTab.set('profile')"
      [class.bg-white]="activeTab() === 'profile'"
      class="px-4 py-2 rounded-lg border">
      👤 Profile
    </button>

    <button
      (click)="activeTab.set('orders')"
      [class.bg-white]="activeTab() === 'orders'"
      class="px-4 py-2 rounded-lg border">
      🛍️ Orders
    </button>
  </div> -->



  <!-- Content -->
  @if (activeTab() === 'profile') {
  <app-profile-component [currentUser]="currentUser" (profileUpdated)="fetchUserData()"></app-profile-component>

  }

  @if (activeTab() === 'orders') {
  <app-order-component [userOrders]="userOrders"></app-order-component>
  }
</div>