<div class="flex flex-col gap-6 w-full  ">
  <div class="w-full">
    <p class="mb-1 text-xl font-bold">Welcome back</p>
    <p style="color: #8e9c98">Enter your credentials to access your account</p>
  </div>
  <form class="w-full flex flex-col gap-3">
    <div class="flex flex-col gap-1">
      <label for="emial" class="font-semibold">Email</label>
      <input
        type="email"
        name="emial"
        placeholder="hassan@gmail.com"
        class="py-1.5 px-2 rounded-lg outline-0"
        style="background-color: #f9faf9"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="password" class="font-semibold">Password</label>
      <input
        type="password"
        name="password"
        placeholder="****"
        class="py-1.5 px-2 rounded-lg outline-0"
        style="background-color: #f9faf9"
      />
    </div>
    <button
      type="submit"
      class="py-2 px-2 mt-4 rounded-lg text-white font-semibold"
      style="background-color: #638c7f"
    >
      Sign In
    </button>
  </form>
</div>
