<div class="bg-white border border-slate-200 rounded-xl p-8 shadow-sm">
  <div class="flex flex-col space-y-1.5 p-6">
    <h3 class="text-2xl font-semibold leading-none tracking-tight flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-shopping-bag h-5 w-5">
        <path d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4Z"></path>
        <path d="M3 6h18"></path>
        <path d="M16 10a4 4 0 0 1-8 0"></path>
      </svg>Order History
    </h3>
  </div>

  <div class="space-y-6">
    @for (order of userOrders(); track order.createdAt) {
    <div class="border rounded-lg p-4">
      <div class="flex flex-wrap items-center justify-between gap-4 mb-4">
        <div>
          <p class="font-semibold">Order #{{ $index + 1 }}</p>
          <p class="text-sm text-muted-foreground">{{ order.createdAt }}</p>
        </div>
        <div class="flex items-center gap-4">
          <span [class.bg-orange-50]="order.status === 'pending'" [class.text-orange-600]="order.status === 'pending'"
            [class.bg-blue-50]="order.status === 'confirmed'" [class.text-blue-600]="order.status === 'confirmed'"
            [class.bg-green-50]="order.status === 'shipped'" [class.text-green-600]="order.status === 'shipped'"
            class="px-3 py-1 rounded-full text-[12px] font-bold border capitalize">
            {{ order.status }}
          </span>
          <span class="font-semibold text-primary">${{ order.totalPrice }}</span>
        </div>
      </div>
      <div class="flex flex-wrap gap-2">
        @for (item of order.items; track item.productId) {
        <div class="flex items-center gap-2 bg-muted rounded-lg p-2">
          <img *ngIf="productImg() as product" [src]="product.image" alt="Red Apples"
            class="w-10 h-10 object-cover rounded" />

          <div class="text-sm">
            <p class="font-medium line-clamp-1">{{ item.productTitle }}</p>
            <p class="text-xs text-muted-foreground">x{{ item.quantity }}</p>
          </div>
        </div>
        }
      </div>
    </div>

    } @empty {
    <div class="text-center py-20 bg-slate-50 rounded-2xl border border-dashed border-slate-200">
      <p class="text-slate-400 font-medium">No orders found for your account.</p>
    </div>
    }
  </div>
</div>