input:focus {
  border: 2.5px solid #638c7f;
}
select:focus {
  border: 2.5px solid #638c7f;
}
input,
select {
  border: 1px solid #8e9c98;
}

button {
  cursor: pointer;
}
button:hover {
  opacity: 0.85;
}
.back {
  color: #8e9c98;
}
.back:hover {
  color: #638c7f;
  font-weight: 400;
}
.active {
  background-color: #f9faf9;
}
select{
    cursor: pointer;
}
option:hover {
  cursor: pointer;
  background-color: orange;
}
