<div class="flex flex-col gap-6 w-full">
  <div class="w-full">
    <p class="mb-1 text-xl font-bold">Create account</p>
    <p style="color: #8e9c98">Join Fresh Market for fresh products delivered to you</p>
  </div>
  <form class="w-full flex flex-col gap-3">
    <div class="flex flex-col gap-1">
      <label for="name" class="font-semibold">Full Name</label>
      <input
        type="text"
        name="name"
        placeholder="hassan elgraihy"
        class="py-1.5 px-2 rounded-lg outline-0"
        style="background-color: #f9faf9"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="emial" class="font-semibold">Email</label>
      <input
        type="email"
        name="emial"
        placeholder="hassan@gmail.com"
        class="py-1.5 px-2 rounded-lg outline-0"
        style="background-color: #f9faf9"
      />
    </div>
    <div class="flex gap-3 w-full">
      <div class="flex flex-col gap-1 flex-1 min-w-0">
        <label for="country" class="font-semibold">Country</label>
        <select name="country" class="py-1.5 px-2 rounded-lg outline-0 bg-[#f9faf9]">
          <option value="" disabled selected>Select country</option>
          <option value="eg">Egypt</option>
          <option value="sa">Saudi Arabia</option>
          <option value="ae">UAE</option>
        </select>
      </div>
      <div class="flex flex-col gap-1 flex-1 min-w-0">
        <label for="city" class="font-semibold">City</label>
        <input
          type="text"
          name="city"
          placeholder="Cairo"
          class="py-1.5 px-2 rounded-lg outline-0"
          style="background-color: #f9faf9"
        />
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <label for="password" class="font-semibold">Password</label>
      <input
        type="password"
        name="password"
        placeholder="****"
        class="py-1.5 px-2 rounded-lg outline-0"
        style="background-color: #f9faf9"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="Confirm Password" class="font-semibold">Confirm Password</label>
      <input
        type="password"
        name="Confirm Password"
        placeholder="****"
        class="py-1.5 px-2 rounded-lg outline-0"
        style="background-color: #f9faf9"
      />
    </div>
    <button
      type="submit"
      class="py-2 px-2 mt-4 rounded-lg text-white font-semibold"
      style="background-color: #638c7f"
    >
      Sign Up
    </button>
  </form>
</div>
