:host {
    display: block;
    min-height: 100vh;
    background-color: #f9fafb; 
}

svg {
    display: inline-block;
    vertical-align: middle;
}

.checkout-btn {
    background-color: #638c7f;
}

.checkout-btn:hover {
    background-color: #5a7f72;
}

.browse-products-btn {
    background-color: #638c7f;
}

.browse-products-btn:hover {
    background-color: #5a7f72;
}