<div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 items-center pb-6 px-4 md:px-8 lg:px-16 w-full">
    <div class="flex items-center gap-3 px-3 py-3 lg:px-5 rounded-2xl bg-white border border-border">
        <div class="bg-primary/10 p-3 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-package h-6 w-6 text-primary">
                <path
                    d="M11 21.73a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73z">
                </path>
                <path d="M12 22V12"></path>
                <path d="m3.3 7 7.703 4.734a2 2 0 0 0 1.994 0L20.7 7"></path>
                <path d="m7.5 4.27 9 5.15"></path>
            </svg>
        </div>
        <div class="flex flex-col items-start justify-center">
            <p class="text-lg font-bold">{{products().length}}</p>
            <h2 class="text-sm font-normal mb-3 text-muted-foreground">Products</h2>
        </div>
    </div>
    <div class="flex items-center gap-3 px-3 py-3 lg:px-5 rounded-2xl bg-white border border-border">
        <div class="bg-primary/10 p-3 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-users h-6 w-6 text-primary">
                <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
                <circle cx="9" cy="7" r="4"></circle>
                <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
            </svg>
        </div>
        <div class="flex flex-col items-start justify-center">
            <p class="text-lg font-bold">{{users().length}}</p>
            <h2 class="text-sm font-normal mb-3 text-muted-foreground">Users</h2>
        </div>
    </div>
    <div class="flex items-center gap-3 px-3 py-3 lg:px-5 rounded-2xl bg-white border border-border">
        <div class="bg-primary/10 p-3 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-shopping-bag h-6 w-6 text-primary">
                <path d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4Z"></path>
                <path d="M3 6h18"></path>
                <path d="M16 10a4 4 0 0 1-8 0"></path>
            </svg>
        </div>
        <div class="flex flex-col items-start justify-center">
            <p class="text-lg font-bold">{{orders().length}}</p>
            <h2 class="text-sm font-normal mb-3 text-muted-foreground">Orders</h2>
        </div>
    </div>
    <div class="flex items-center gap-3 px-3 py-3 lg:px-5 rounded-2xl bg-white border border-border">
        <div class="bg-success/10 p-3 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-circle-dollar-sign-icon lucide-circle-dollar-sign h-6 w-6 text-success">
                <circle cx="12" cy="12" r="10" />
                <path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8" />
                <path d="M12 18V6" />
            </svg>
        </div>
        <div class="flex flex-col items-start justify-center">
            <p class="text-lg font-bold">{{revenue}} EGP</p>
            <h2 class="text-sm font-normal mb-3 text-muted-foreground">Reveue</h2>
        </div>
    </div>
</div>